header {
    /* background-image: url('skyTicTacToe.jpg');
    background-position: center center;
    background-size: cover; */
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: black
}

h2 {
    text-align: center;
    color: black;
}

div.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.scorePair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

div.scoreTitle {
    text-align: center;
    color: royalblue;
}

div.scoreTitle {
    margin: 0 5px 0 0;
}

div.scoreName {
    color: royalblue;
}

div.scoreColon {
    margin: 0 5px 0 0;
    color: royalblue;
}

div.score {
    text-align: center;
    color: black;
    font-weight: bold;
}

section.layout {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

section.row {
    line-height: 140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

div.squareUL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 4px 4px 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareUC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 4px 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareUR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 0 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 4px 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 0 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 0 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 0 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 0 0 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

h3.aiMode {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    color: black
}

section.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
}

button {
    font-size: 16px;
}

button.gameButton {
    background-color: limegreen;
    height: 30px;
}

button.aiButton {
    background-color: yellow;
    height: 30px;
}

button.customButton {
    background-color: cyan;
    height: 30px;
    margin-bottom: 10px;
}

div.customButtonPanel {
    display: flex;
    flex-direction: column;
}

button#resetButton {
    background-color: red;
}

img {
    width: 100px;
    border: solid white 5px;
    align-content: space-around;
    border-radius: 10px;
  }

img.imageLibraryEntry {
    display: none;
    width: 130px;
}

section.imageLibrary {
    display: flex;
    flex-direction: row;
}

div#imageHeader {
    display: block;
    margin-top: -20px;
}

@media screen and (max-width: 600px) {   
    div.scores {
        flex-direction: column;
    }

    div.scoreTitle {
        margin: 0 5px 0 0;
    }

    div.score {
        margin: 0;
    }

    div.squareUL {
        width: 120px;
        height: 120px;
    }

    div.squareUC {
        width: 120px;
        height: 120px;
    }

    div.squareUR {
        width: 120px;
        height: 120px;
    }

    div.squareCL {
        width: 120px;
        height: 120px;
    }

    div.squareCC {
        width: 120px;
        height: 120px;
    }

    div.squareCR {
        width: 120px;
        height: 120px;
    }

    div.squareLL {
        width: 120px;
        height: 120px;
    }

    div.squareLC {
        width: 120px;
        height: 120px;
    }

    div.squareLR {
        width: 120px;
        height: 120px;
    }

    section.buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
    }

    button {
        margin: 5px;
    }

    button#playAgainButton {
        order: -1;
    }

    button#resetButton {
        order: -1;
    }

    div#scoreGroupX {
        order: -1;
    }

    div#scoreGroupO {
        order: -1;
    }

    h1 {
        margin: 0 0 0 0;
    }

    h2 {
        margin: 0 0 0 0;
    }

    section.layout {
        margin: 10px 0 0 0;
    }

    img.imageLibraryEntry {
        max-width: 80px;
    }
}
