h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

div.scorePair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

div.scoreTitle {
    text-align: center;
    color: blue;
}

div.scoreTitle {
    margin: 0 5px 0 0;
}

div.scoreName {
    color: blue;
}

div.scoreColon {
    margin: 0 5px 0 0;
    color: blue;
}

div.score {
    text-align: center;
    color: limegreen;
    font-weight: bold;
}

section.layout {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
}

section.row {
    line-height: 140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

div.squareUL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 4px 4px 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareUC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 4px 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareUR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 0 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 4px 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 0 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 0 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 0 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 0 0 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

section.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 40px;
}

button {
    text-align: center;
    font-size: 16px;
}

button.gameButton {
    background-color: limegreen;
}

button.customButton {
    background-color: red;
}

@media screen and (max-width: 600px) {   
    div.scores {
        flex-direction: column;
    }

    div.scoreTitle {
        margin: 0 5px 0 0;
    }

    div.score {
        margin: 0;
    }

    div.squareUL {
        width: 120px;
        height: 120px;
    }

    div.squareUC {
        width: 120px;
        height: 120px;
    }

    div.squareUR {
        width: 120px;
        height: 120px;
    }

    div.squareCL {
        width: 120px;
        height: 120px;
    }

    div.squareCC {
        width: 120px;
        height: 120px;
    }

    div.squareCR {
        width: 120px;
        height: 120px;
    }

    div.squareLL {
        width: 120px;
        height: 120px;
    }

    div.squareLC {
        width: 120px;
        height: 120px;
    }

    div.squareLR {
        width: 120px;
        height: 120px;
    }

    section.buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 20px;
    }

    button {
        margin: 5px;
    }

    button#playAgainButton {
        order: -1;
    }

    button#resetButton {
        order: -1;
    }

    div#scoreGroupX {
        order: -1;
    }

    div#scoreGroupO {
        order: -1;
    }

    h1 {
        margin: 0 0 0 0;
    }

    h2 {
        margin: 0 0 0 0;
    }

    section.layout {
        margin: 10px 0 0 0;
    }
}
