h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

section.row {
    line-height: 140px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

div.square {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 5px black;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareUL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 4px 4px 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareUC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 4px 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareUR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 0 0 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 4px 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareCR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 0 4px 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLL {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 0 0;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLC {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 4px 0 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

div.squareLR {
    width: 150px;
    height: 150px;
    border: solid #000;
    border-width: 4px 0 0 4px;
    text-align: center;
    text-justify: auto;
    justify-content: center;
    font-size: xx-large;
}

section.layout {
    display: flex;
    flex-direction: column;
}

section.buttons {
    display: flex;
    justify-content: center;
    margin: 40px;
}

button {
    text-align: center;
    background-color: limegreen;
    font-size: 16px;
}
